footer{
    width: 100vw;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

footer h3{
    margin: 0;
    cursor: default;
}