@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}

body{
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

.wrapper{
    width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    position: relative;
}

button{
    padding: 0.75rem 2rem;
    background: rgb(161, 68, 238);
    background: linear-gradient(330deg, rgb(161, 68, 238) 0%, rgb(183, 35, 251) 100%);
    color: white;
    border-radius: 10px;
    box-shadow: none;
    border: none;
    font-size: 1.05rem;
    cursor: pointer;
    transition: 0.4s;
    width: min-content;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

button:hover{
    box-shadow:
        2px 2px 10px rgba(144, 8, 198, 0.3),
        0px 5px 15px rgba(165, 35, 251, 0.4)
    ;
}